@import url("https://fonts.googleapis.com/css?family=Mukta+Malar");

html{
  font-family: 'Mukta Malar', sans-serif;
  background-color:#add8e6
}
h1{
  text-align:center;
}

p{
  text-align:center;
}

div{
  text-align:center;
}





