html{
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  text-align: center;
}
#tribute-info{
  background: #E1D7D7;
}
ol{
  text-align: left;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
img{
  display: block;
  max-width:100%;
}
